<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <withJansi>false</withJansi>
        <encoder>
            <pattern>%d{dd HH:mm:ss.SSS} [%t] [%-5p] %m - %logger %F:%L%n</pattern>
        </encoder>
    </appender>
    
    <root level="ALL">
        <appender-ref ref="console" />
    </root>
    
    <logger name="net.timewalker.ffmq3" level="ALL" />
    <logger name="org.apache.camel" level="ERROR" />
    <logger name="org.apache.camel.impl" level="WARN" />
    <logger name="org.apache.camel.support" level="WARN" />
    <logger name="org.apache.camel.component" level="WARN" />
    <logger name="net.timewalker.ffmq3" level="WARN" />
    <logger name="com.danidemi.jlubricant" level="WARN" />
    
</configuration>